:root {
  /* Color */
  --green: #008C45;    /* PANTONE® 17-6153 TCX : 0, 140, 69 */ 
  --white: #F4F5F0;    /* PANTONE® 11-0601 TCX : 244, 245, 240 */ 
  --red: #CD212A;      /* PANTONE® 18-1662 TCX : 205, 33, 42 */
  --darkblue: #0069A3; /* Azzurri : 0, 105, 163 */
  --blue: #3366FF;     /* Azzurro : 51, 101, 255 */
  --yellow: #E5E200;   /* Giallo Limone : 229, 226, 0 */
  --orange: #F3B400;   /* Giallo Pompeiano : 243, 180, 0 */
  --black: #333132;    /* Nero : 51, 49, 50 */
  --gray: #7D7D7D;     /* Grigio : 125, 125, 125 */
  --transpwhite: rgba(244, 245, 240, 0.95);
  --transpgray: rgba(244, 245, 240, 0.6);
  --transpblack: rgba(51, 49, 50, 0.6);
  /* https://color-pallet.spark-a.com/?s=イタリア*/
}

@font-face {
	font-family: 'Kleymisska';
	src: url(../public/font/Kleymisska.ttf);
}

body {
  margin: 0; padding: 0; border: 0; font: inherit;  list-style-type: none; vertical-align: baseline; 
  background-color: var(--white); color: var(--black); font-size: 18px; font-weight: normal; line-height: 1.5; 
  font-family: "Noto Sans JP", "MyYuGothicM", "YuGothic", "Hiragino kaku Gothic ProN", "BlinkMacSystemFont", "Meiryo", sans-serif;
  text-align: center; justify-content: center; align-items: center; overflow-x: hidden
}

section { scroll-margin-top: 80px; }
span { font-family: "Kleymisska"; }
h1 { font-family: "游教科書体", "YuKyokasho", "游明朝", "YuMincho", 'ShipporiMincho_B', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }
h2 { font-family: "游教科書体", "YuKyokasho", "游明朝", "YuMincho", 'ShipporiMincho_B', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }
h3 { font-family: "游教科書体", "YuKyokasho", "游明朝", "YuMincho", 'ShipporiMincho_B', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }
h5 { margin: 0; font-size: 18px; font-weight: normal; text-align: left; }
p { color: var(--black); font-size: 14px !important; text-align: left; padding: 10px 30px 0px 30px; }

.swiper-button-next,
.swiper-button-prev {
  height: 30px !important;
  color: var(--white) !important;
}

.swiper-pagination-bullet-active, 
.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  margin: 10px !important;
  background-color: var(--white) !important;
}

.twitter-timeline, .tiktok-embed { 
  width: calc(100vw - 30px) !important; max-width: 600px !important;
  margin: 0px auto !important; padding-bottom: 15px !important;
}

@media screen and (min-width: 960px) {
  .twitter-timeline { width: calc(50vw - 30px) !important; }
  footer { margin-top: 65px; }
}