.header { 
  position: fixed; justify-content: center; align-items: center;
  width: 100%; height: 60px; top: 0; z-index: 10; background-color: var(--white);
}
.headerLogo { display: inline-flex; }
.headerLogo img { height: 32px; margin: 14px 5px; }
.openNone { display: none; }
.open, .close, .policyopen { 
  position: absolute; display: flex; justify-content: flex-end; 
  margin-bottom: 10px; left: 20px; font-size: 32px; cursor: pointer; 
  
}
.open { margin-top: -48px; }
.close { margin-top: -5px; }

.overlayNone { display: none; opacity: 0; transition: all 3s ease-in-out; }
.overlayShow {
  position: fixed; top: 0px; bottom: 0; right: 0; z-index: 100;
  width: 100vw; height: 100vh; background: rgba(244, 245, 240, 0.96); 
  padding-top: 24px; opacity: 1; pointer-events: auto; transition: all 3s ease-in-out; 
}
.overlayShow a { color: var(--black); }
.overlayShow a:hover { opacity: 0.6; }
.overlayShow li { margin-top: 0px; text-decoration: none; font-size: 20px; }
.overlayShow ul { list-style: none; display: inline-block; padding: 0; }

.menu { margin: 20px 0; }
.menuLogo img { width: 150px; margin: 10px 0px; }
.menuList li { margin: 10px 0px; }
.menuList a { font-size: 18px; text-decoration: underline; color: var(--black); }
.menuList button { 
  font-size: 18px; text-decoration: underline; color: var(--black); padding: 0;
  border: none; outline: none; background-color: transparent;
}

.loading { 
  position: fixed; width: 100%; height: 110vh;
  top: 0; left: 0; z-index: 999; opacity: 1;
  background-color: var(--white); transition: all 3s ease;
}
.loaded {
  position: fixed; width: 100%; height: 110vh;
  top: 0; left: 0; z-index: 999; opacity: 0;
  background-color: var(--white); transition: all 3s ease;
}
.vanish {
  display: none;
}

.loading img, .loaded img, .vanish img { 
  position: absolute; width: 300px; z-index: 1000;
  top: 40%; left: 50%; transform: translate(-50%, -50%);
}

.contact { margin-top: 10px; }
.contact li { font-size: 16px; padding: 5px; }

@media screen and (min-width: 520px) {
  .menuList { display: none; }
  .headerLogo img { height: 40px; margin: 10px; }
}

@media screen and (min-width: 960px) {
  .headerContent { display: block; margin: 10px 10px; }
  .menuLogo { margin: auto; }
  .menuList { display: inline-flex; margin-top: 15px; margin-left: auto; }
  .menuList li { margin: 10px; }
}

@media screen and (min-width: 1150px) {
  .headerLogo { display: flex; }
  .header { width: Calc(100% - 100px); padding: 0 50px; }
  .menuList { margin-right: 100px; }
}
