.products { border-top: 10px double var(--blue); }
.products_title { margin-top: 30px;}
.products_title h2{ font-size: min(6vw, 2em); }
.title {
  position: absolute; width: 100%; margin: 0;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.container { margin-bottom: 30px; }
.none{
  display: none;
}
.box img { width: 100%; aspect-ratio: 3/2; object-fit: cover; }
.border__yellow { 
  position: relative; padding: 5px 5px 0px 5px; margin: 10px; max-width: 500px;
  background: linear-gradient(to right bottom, var(--yellow), var(--orange)); 
}
.border__yellow span,
.border__yellow h1 {
  margin: 0; padding: 0; line-height: 1.5; font-weight: normal;
  color: #F4F5F0; text-shadow: 1px 2px 3px var(--black);
}
.border__yellow span { font-size: min(16vw, 80px); font-family: "Kleymisska"; }
.border__yellow h1 { font-size: min(7vw, 35px); }
.message { margin: 20px; }
.message h5 { margin: 0; text-align: left; font-size: min(4vw, 16px); font-weight: normal; }
.explain { margin: 20px 0; }
.explain button { 
  margin: 0px auto 0px auto; padding-bottom: 30px; color: var(--gray); font-size: min(4.8vw, 18px);
  font-family: "游教科書体", "YuKyokasho", "游明朝", YuMincho, 'ShipporiMincho_B', "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; 
}

@media screen and (min-width: 520px) {
  .title { top: 50%; }
  .border__yellow { width: 500px; margin: auto; }
  .message { margin: 20px 30px 0 30px; }
  .explain button { margin-top: 0px }
}

@media screen and (min-width: 960px) {
  .title { top: 50%; }
  .products_title { margin: 40px;}
  .container { display: inline-flex; gap: 50px; margin: 0px auto 10px auto; }
  .border__yellow { width: 39vw; }
  .border__yellow span { font-size: min(6vw, 72px); }
  .border__yellow h1 { font-size: min(2.5vw, 30px); }
  .explain { width: 40vw; margin-top: 0; }
  .message { width: 40vw; margin: 20px auto 0 auto; }
  .message h5 { margin: 0; padding-bottom: 5px; }
}
