.border__blue span, .carouselstyle span,
.border__blue h1, .carouselstyle h1, 
.border__blue h3, .carouselstyle h3 {
  margin: 0; padding: 0; line-height: 1.5; font-weight: normal;
  color: #F4F5F0; text-shadow: 1px 2px 3px var(--black);
}
.carouselstyle { position: relative; width: 100vw; margin: -70px auto 20px auto; }
.carouselstyle img  { width: 100%; }
.carouselstyle span { font-size: min(18vw, 120px); font-family: "Kleymisska"; }
.carouselstyle h1 { font-size: min(9vw, 45px); }
.carouselstyle h3 { font-size: min(5vw, 30px); }
.zoom { animation: animationZoom 50s ease-in-out forwards; }
@keyframes animationZoom {
  50% { transform:scale(1.5) } 
}
.container { margin-top: 30px;}
.title {
  position: absolute; width: 100%; margin: 0;
  top: Calc(30% + 70px); left: 50%; transform: translate(-50%, -50%);
}
.box img { width: 100%; aspect-ratio: 3/2; object-fit: cover; }
.border__blue { 
  position: relative; padding: 5px 5px 0px 5px; margin: 10px; max-width: 500px;
  background: linear-gradient(to right bottom, var(--blue), var(--darkblue)); 
}
.border__blue span { font-size: min(16vw, 80px); font-family: "Kleymisska"; }
.border__blue h1 { font-size: min(7vw, 35px); }
.message { margin: 20px 20px 0px 20px; }
.explain { margin: 20px 0 30px 0; }
.explain button { margin: 0px auto; padding-bottom: 30px; color: var(--gray); }
.soleemare {
  position: absolute; width: 100%; margin: 0;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  opacity: 1; transition: opacity 2s ease;
}
.soleemareNone { 
  position: absolute; width: 100%; margin: 0;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  opacity: 0; transition: opacity 1s ease;
}
.shopping, .shoppingNone { 
  width: 300px; height: 30px; z-index: 1; padding: 10px 0px; margin: 10px auto;
  font-size: 20px; border-radius: 30px; border: solid 3px var(--orange); 
  text-shadow: 1px 2px 3px var(--white); background-color: var(--yellow); 
}
.shopping { 
  position: fixed; bottom: 30px; left: 50%; transform: translateX(-50%);
  opacity: 1; transition: all 1s ease;
}
.shoppingNone { 
  position: fixed; bottom: -100px; left: 50%; transform: translateX(-50%);
  opacity: 0; transition: all 1s ease;
}
.shopping a, .shoppingNone a { 
  color: var(--black); font-weight: bold; text-decoration: none; 
}

@media screen and (min-width: 520px) {
  .carouselstyle { position: relative; width: 100vw; margin: 0px auto 20px auto; }
  .title { top: 50%; }
  .border__blue { width: 500px; margin: auto; }
  .message { margin: 20px 30px 0 30px; }
  .explain button { margin-top: 0px }
}

@media screen and (min-width: 960px) {
  .carouselstyle { width: Calc(100% - 200px); margin: 0 auto; margin: -90px auto 20px auto;  }
  .title { top: Calc(50% + 50px); }
  .border__blue { width: 39vw; }
  .border__blue span { font-size: min(6vw, 72px); }
  .border__blue h1 { font-size: min(2.5vw, 30px); }
  .container { display: inline-flex; gap: 50px; margin-bottom: 40px; }
  .explain { width: 40vw; margin: 0; }
  .message { width: 40vw; margin: 20px auto 0 auto; }
  .message h5 { margin: 0; padding-bottom: 5px; }
}