.title h3 { font-size: min(9vw, 3em); margin: 0; padding-top: 20px; }
.snsIcon img { width: 50px; height: 50px; margin: 0px 0px 20px 0px; }
.container { width: 100vw; border-bottom: 10px double var(--blue); }
.contents { border-top: 10px double var(--blue); }
.border__blue { 
  color: var(--white); text-shadow: 1px 2px 3px var(--black); position: relative; width: Calc(100% - 10px); margin: 0;
  padding: 5px 5px 0px 5px; background: linear-gradient(to right bottom, var(--blue), var(--darkblue)); 
}
.border__yellow { 
  color: var(--black); 
  color: #000; text-shadow: 1px 2px 3px var(--white); position: relative; width: Calc(100% - 10px); margin: 0;
  padding: 5px 5px 0px 5px; background: linear-gradient(to right bottom, var(--yellow), var(--orange)); 
}
.info h2 { font-size: min(6vw, 2em); margin-bottom: 20px; }
.border__info { 
  position: relative; padding: 5px 5px 5px 5px; margin: 10px auto 30px auto; width: Calc(100% - 30px);
  background: linear-gradient(to right bottom, var(--blue), var(--darkblue)); 
}
.table { 
  width: 100%; font-size: 18px; color: var(--black); 
  background-image: linear-gradient(var(--gray), var(--gray)), url('../public/images/wave_blue.png');
}
.table table { width: 100%; padding: 10px; }
.table tbody { vertical-align: top;}
.table td { text-align: left; padding: 5px; }
.insta { 
  width: 100%; margin: 0 auto; 
  display: flex !important; flex-wrap: wrap; justify-content: center; align-items: center;
}
.insta_box { 
  margin-bottom: 15px; overflow: hidden; 
  display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;
}
.insta_container { position: relative; width: Calc(50vw - 15px); padding: 0; } 
.insta_container img { width: Calc(50vw - 15px); max-width: 250px; aspect-ratio: 1; margin-bottom: 20px; }
.insta_like { width: 100%; position: absolute; color: var(--red); text-decoration: none; margin-top: -24px;}
.insta_name_none, .insta_box_none, .twitter_box_none { display: none; }
.tiktokContent { max-width: 90%; margin: 0px auto; overflow-y: auto; }
.tiktokEmbed { margin-top: 0 !important; }

@media screen and (min-width: 520px) {
  .border__info { width: Calc(100% - 50px); }
  .insta_box { height: 1150px; grid-template-columns: repeat(3, 1fr); height: auto; }
  .insta_container { width: Calc(33vw - 15px); } 
  .insta_container img { width: Calc(33vw - 15px); }
}

@media screen and (min-width: 960px) {
  .border__info { width: Calc(100% - 200px); }
  .contents { display: inline-flex; }
  .container { width: 50vw; }
  .insta_box { grid-template-columns: repeat(2, 1fr); height: 1150px; }
  .insta_container { width: Calc(25vw - 15px); } 
  .insta_container img { width: Calc(25vw - 15px); }
}