.policy_top { padding-top: 2px; margin-top: 10px; }
.policy_top h2 { margin: 10px 0px; padding: 0; }
.policy_point { display: none; }
.policy_item { text-align: left; margin: 20px 20px 30px 20px; }
.policy_item h3 { font-size: 20px; margin-top: 20px }
.policy_item a { color: var(--black); text-decoration: underline; }
.policy_item p { font-size: 16px; padding: 5px 0px; }
.policy_item ul { font-size: 16px; padding: 5px 0px 5px 28px; text-indent: -32px; }
.policy_item li { 
    font-size: 16px; padding: 5px 0px 5px 36px; text-indent: -21px; list-style-type: disc;  
}
.policy_last { margin: 20px 10px 50px 10px; }
.policy_last p { font-size: 16px !important; margin: 20px auto 40px auto; padding: 0; text-align: center; }
.policy_last br { display: none; }
.policy_contact { margin: 20px auto; padding: 0; }
.policy_contact h3 { font-size: 20px; margin: 20px auto ; padding: 0; text-align: center; }
.policy_contact p { font-size: 16px !important; margin: 5px auto ; padding: 0; text-align: center; }
.policy_colon { display: none; }

@media screen and (min-width: 600px) {
  .policy_top { display: inline-flex; }
  .policy_contact { display: inline-flex; }
  .policy_point { display: block; }
  .policy_colon { display: block; }
  .policy_item { margin: 20px 40px 30px 40px; }
  .policy_last { margin: 20px; }
  .policy_last p {margin-bottom: 20px; }
  .policy_last br { display: block; }
  .policy_contact { margin: 18px 0px 4px 0px; }
  .policy_contact h3 { margin: 0px auto 0px auto; }
  .policy_contact p { margin: 0px auto 30px auto; }
}

@media screen and (min-width: 960px) {
  .policy_item { margin: 20px 100px 30px 100px; }
  .policy_last { display: inline-flex; margin: 0; gap: 80px; }
}
